<h1>Update {{class.name}} :</h1>
<form id="update-class" action="/Class" method="post">
    Class name: <input type="text" name="name" value="{{class.name}}"><br>
    Pro: <input type="text" name="name" value="{{class.Pro}}"><br>
    Con: <input type="text" name="name" value="{{class.Con}}"><br>
</form>
<button onclick="updateClass({{class.Class_id}})">Update</button>